{% extends "home/basic.html" %}
{% block activecontact %}active{% endblock %}
{% block title %}Contact Us - BlogLikho{% endblock %}
{% block body %}
<div class="container">
  <div class="container my-4" style="text-align:center;">

    <h1>Contact Us</h1>


  </div>
  <form method="POST" action="/ContactUs">{% csrf_token %}
  <div class="mb-4">
    <label for="name" class="form-label"><b>Enter Full Name</b></label>
    <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
  </div>
  <div class="mb-4">
    <label for="email" class="form-label"><b>Enter Email</b></label>
    <input type="email" class="form-control" id="email" name="email" placeholder="johndoe@gmail.com">
  </div>
  <div class="mb-4">
    <label for="phone" class="form-label"><b>Enter Phone Number</b></label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone Number">
  </div>
  <div class="mb-4">
    <label for="check" class="form-label"><b>Area of Concern</b></label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="check1" id="check1">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="check2" id="check2">
    <label class="form-check-label" for="flexCheckChecked">
      Checked checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="check3" id="check3">
    <label class="form-check-label" for="flexCheckChecke">
      Checked checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="check4" id="check4">
    <label class="form-check-label" for="flexCheckCheck">
      Checked checkbox
    </label>
  </div>
</div>
  <div class="form-floating mb-4">
    <textarea class="form-control" id="feedback" name="feedback" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments/Feedback</label>
  </div>
<button type="submit" class="btn btn-primary mb-4">Submit</button>
</form>
</div>
{% endblock %}