{% extends "home/basic.html" %}
{% block activehome %}active{% endblock %}
{% block title %}Home - BlogLikho{% endblock %}
{% block css %}
  @media(min-width:1400px){
    .slideimages{
      width: 100%;
    }
  }
{% endblock %}
{% block body %}
{% load static %}
  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
          aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://source.unsplash.com/1400x400/?laptops,dairy" alt=" " class="slideimages">

          <div class="container">
            <div class="carousel-caption">
              <h1>Create your own blogs.</h1>
              <p>Feature coming soon..</p>

            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/1400x400/?pen,paper" alt=" " class="slideimages">

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Welcome to the world of blogging</h1>
              <p>Read, refer and learn how to write awesome blogs on BlogLikho.com</p>
              <p><a class="btn btn-lg btn-primary" href="#" id="signupslide" data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/1400x400/?travel,water" alt=" " class="slideimages">

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Blogs that creates interest in blogging.</h1>
              <p>Share your amazing experince all across the globe.</p>
              <p><a class="btn btn-lg btn-primary" href="/blogs">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container my-5">
      <div class="my-10">
        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/300x300/?blogs" alt=" ">

              <h2>Popular Blogs</h2>
              <p>Click the button given below to get the most popular blogs published on BlogLikho.com</p>
              <p><a class="btn btn-secondary" href="/blogs/popularblogs">View details »</a></P>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/300x300/?travel" alt=" ">

              <h2>Research</h2>
              <p>Blogs which involes research papers on various technical topics of great interest.
              </p>
              <form class="d-flex" action="/blogs/search" method="POST">{% csrf_token %}
                    <input class="form-control me-2" type="hidden" id="research" value="research blogs" name="query">
                    <button class="btn btn-secondary" type="submit">View details »</button></form>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/300x300/?coding" alt=" ">

              <h2>Coding Articles</h2>
              <p>Explain important or complex topics of Data Structures.</p>
              <form class="d-flex" action="/blogs/search" method="POST">{% csrf_token %}
                    <input class="form-control me-2" type="hidden" id="code" value="coding blogs" name="query">
                    <button class="btn btn-secondary" type="submit">View details »</button></form>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>
        <main>
          <h1 class="visually-hidden">Heroes examples</h1>

          <div class="px-4 py-5 my-5 text-center">

            <h1 class="display-5 fw-bold">Planning</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4"><b>The entire process of writing a blog post often takes more than a couple of hours,
                  even if you can type eighty words per minute and your writing skills are sharp. From the seed of the
                  idea to finally hitting “Publish,” you might spend several days or maybe even a week “writing” a blog
                  post, but it’s important to spend those vital hours planning your post and even thinking about your
                  post
                  (yes, thinking counts as working if you’re a blogger) before you actually write it.</b></p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

              </div>
            </div>
          </div>

          <div class="b-example-divider"></div>

          <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Choose a Topic That Interests YOU</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4"><b>There’s an old maxim that states, “No fun for the writer, no fun for the reader.”
                  No
                  matter what industry you’re working in, as a blogger, you should live and die by this statement.

                  Before you do any of the following steps, be sure to pick a topic that actually interests you. Nothing
                  –
                  and I mean NOTHING – will kill a blog post more effectively than a lack of enthusiasm from the writer.
                  You can tell when a writer is bored by their subject, and it’s so cringe-worthy it’s a little
                  embarrassing.</b></p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <p><a class="btn btn-lg btn-primary px-4 gap-3" href="/blogs/blog_ideas">Get Some Ideas</a></p>
              </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
              <div class="container px-5">
                <img src="https://source.unsplash.com/700x300/?heart" class="img-fluid border rounded-3 shadow-lg mb-4"
                  alt="Example image" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>

          <div class="b-example-divider"></div>

          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'home/outlineblog.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                  height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Write an Outline For Your Post</h1>
                <p class="lead"><b>Great blog posts don’t just happen. Even the best bloggers need a rough idea to keep
                    them on-track. This is where outlines come in.

                    An outline doesn’t need to be lengthy, or even detailed – it’s just a rough guide to make sure you
                    don’t ramble on and on about something tangential to your topic.</b></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <p><a class="btn btn-lg btn-primary px-4 gap-3" href="/blogs/blogpost/1">Know
                    More</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="b-example-divider"></div>

          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://yourchicgeek.com/wp-content/uploads/2016/01/small-business-business-blogging-tips.png"
                  class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Do the Research</h1>
                <p class="lead"><b>One of the biggest secrets professional bloggers (myself included) don’t want you to
                    know is that we don’t actually know everything. Truth be told, sometimes we don’t know anything
                    about a topic before we sit down to write about it.
                    This doesn’t mean that all bloggers are insincere fakers. On the contrary, many bloggers’ natural
                    curiosity is what makes them great at what they do. If you blog for a living, you have to be
                    comfortable jumping from one topic to the next, even if you don’t know anything about it. What
                    allows us to do this, and to write authoritatively about subject areas that are new to us, is
                    knowing how to properly research a blog post.</b></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <p><a class="btn btn-lg btn-primary px-4 gap-3"
                      href="https://custom-writing.org/blog/research-topics-on-technology-computer-science" target="_blank">Research
                      papers</a></p>
                </div>
              </div>
            </div>
          </div>



          <div class="b-example-divider"></div>

          <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Check Your Facts</h1>
                <p class="lead"><b>If you’re just starting out, your credibility and authority will take a major hit if
                    you
                    publish inaccurate information, and even if you have a blog with millions of loyal readers, your
                    regulars will be all too eager to jump all over your mistake – just take a look in the comment
                    sections of publications such as Wired or TechCrunch to see how quickly this can happen.

                    In the event that you fall prey to a well-executed hoax, repeat widely circulated misinformation, or
                    simply make a mistake, own up to it right away and be transparent about your edits. If you try to
                    slip
                    something past your readers, you can bet that they’ll call you out on it, further compounding the
                    damage. Be honest, be accountable, and fix it – fast.</b></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                </div>
              </div>
              <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
              </div>
            </div>
          </div>

          <div class="b-example-divider"></div>

          <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class="py-5">
              <h1 class="display-5 fw-bold text-white">BlogLikho</h1>
              <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">BlogLikho is an simple basic website which allow its user to write the beautiful blogs
                  which inspires other users.
                  Here, you can get diffrent topics which may be helpful to get the usefull contents for your blog.
                  BlogLikho has got advanced integrated features and editor which helps user to write effectively.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <p><a class="btn btn-lg btn-primary px-4 gap-3"
                    href="/ContactUs">Write Us</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="b-example-divider mb-0"></div>
        </main>
        <!-- START THE FEATURETTES -->

  </main>


  <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

{% endblock %}
{% block js %}
{% endblock %}