{% extends 'blog/basic.html' %}
{% block title %}Editor - BlogLikho{% endblock %}
{% block body %}
{% load static %}
  <div class="container my-4">
  <h1 class="mb-4" style="text-align:center;">Blog Editor</h1>
  <div class="form-group">
  {% if user.is_superuser %}
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
  <!-- <div class="row">
  <div class="mb-3 col-md-6">
  <label for="author" class="form-label" style="font-weight: bold;">Author</label>
  <input type="text" class="form-control" id="author" name="author" placeholder="" required>
</div>
<div class="mb-3 col-md-6">
  <label for="title" class="form-label" style="font-weight: bold;">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Blog title" required>
</div>
</div>
<div class="mb-3">
  <label for="category" class="form-label" style="font-weight: bold;">Category</label>
  <select class="form-select" aria-label="Default select example" onchange="myFunction(event)">
    <option selected>Open this select menu</option>
    <option value="Coding Blogs">Coding Blogs</option>
    <option value="Sports Blogs">Sports Blogs</option>
    <option value="Traveling Blogs">Traveling Blogs</option>
    <option value="Educational Blogs">Educational Blogs</option>
    <option value="Business Blogs">Business Blogs</option>
    <option value="Marketing Blogs">Marketing Blogs</option>
    <option value="Technology Blogs">Technology Blogs</option>
    <option value="Sales Blogs">Sales Blogs</option>
  </select>
  <input type="hidden" id="myText" name="category" value="Blogs">
</div>
<div class="mb-3">
  <label for="heading" class="form-label" style="font-weight: bold;">Heading</label>
  <input type="text" class="form-control" id="heading" name="heading" placeholder="" required>
</div>
<div class="mb-3">
  <label for="body" class="form-label" style="font-weight: bold;">Body</label>
  <textarea class="form-control" id="body" name="body" rows="4" required></textarea>
</div>
<div class="mb-3">
  <label for="about" class="form-label" style="font-weight: bold;">About you</label>
  <textarea class="form-control" id="about" rows="3" name="about" placeholder="Write a bit about yourself" required></textarea>
</div>
<div class="mb-3">
  <input class="form-control" type="hidden" id="pic" name="pic" value="default.jpeg">
</div> -->
{{form.as_p}}
{{form.media}}
<div class="mb-3">
  <label for="category" class="form-label">Category:</label>
  <select class="form-select" aria-label="Default select example" onchange="myFunction(event)">
    <option selected>Open this select menu</option>
    <option value="Coding Blogs">Coding Blogs</option>
    <option value="Sports Blogs">Sports Blogs</option>
    <option value="Traveling Blogs">Traveling Blogs</option>
    <option value="Educational Blogs">Educational Blogs</option>
    <option value="Business Blogs">Business Blogs</option>
    <option value="Marketing Blogs">Marketing Blogs</option>
    <option value="Technology Blogs">Technology Blogs</option>
    <option value="Sales Blogs">Sales Blogs</option>
  </select>
  <!-- <input type="hidden" id="myText" name="category" value="Blogs"> -->
</div>
<button type="submit" class="publish btn btn-success">Publish</button>
</form>
  {% else %}
  <div class="container my-5" style="text-align: center;">
    <div class="userlock">
      <img src="{% static 'blog/userlock.png' %}" alt="">
    </div>
    <div class="sorry my-5">
      <h2>This webpage is under development.</h2>
      <h4>User blogs feature will be integrated soon, till then have a look at blogs by developers.</h4>
    </div>
  </div>
  {% endif %}
</div>
  </div>
{% endblock %}
{% block js %}
function myFunction(e){
  document.getElementById("myText").value=e.target.value
}
{% endblock %}