{% extends "blog/basic.html" %}
{% block title %}Popular Blogs - BlogLikho{% endblock %}
{% load static %}
{% block body %}
<div class="container my-4">
<div class="row mb-2">
{% for blog_item in pop_blog %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{blog_item.author}}</strong>
          <h4 class="mb-0">{{blog_item.title | truncatechars:25 }}</h4>
          <div class="mb-1 text-muted">{{blog_item.pub_date}}</div>
          <p class="card-text mb-auto" style="margin-bottom: revert!important;">{{blog_item.content1 | truncatewords:10}}</p>
          <button type="button" class="btn btn-primary" style="width: fit-content;"><a href="/blogs/blogpost/{{blog_item.blog_id}}" class="stretched-link" style="text-decoration:none; color:white;">Continue reading</a></button>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{blog_item.image}}" class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>

        </div>
      </div>
    </div>
    {% endfor %}
  {% endblock %}